<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대외 활동</title>

	<!--conference.css 참조-->
	<link rel="stylesheet" href="../../../assets/css/news/conference.CSS" />

	<!-- 뉴스 리스트 목록 구현을 위한 cdn 참조-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


        
</head>
<body>

        <!-- 내용이 들어가는 부분 -->
        <div class="container">
            <div class="content">
    
            </div>
        </div>
        <footer></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    
	<!-- 검색, 정렬 기능 바(임시로 제작) -->
	<section class="container mt-4">
		<div class="list-group">
			<div class="list-group">
				<div class="row justify-content-end">
					<!-- 검색 -->
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="검색">
					</div>
			
					<!-- 정렬: dropdown -->
					<div class="col-md-4">
						<select class="form-control">
							<option>최신순</option>
							<option>조회순</option>
							<option>인기순</option>
						</select>
					</div>
				</div>
			</div>
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image1.jpg" class="img-fluid" alt="대외활동1 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">2023 ETRI 오픈 API 활용사례 공모전</div>
						<p class="conference-content">ETRI  오픈 API/학습데이터/학습 모델을 활용한 우수사례 발굴</p>
						<p class="conference-content-date">2023-10-05 00:00 ~ 2023-10-25 00:00</p>
					</div>
				</div>
			</a>
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image2.jpg" class="img-fluid" alt="대외활동2 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">2023년 용인시 해커톤</div>
						<p class="conference-content">트위터 텍스트에 포함된 감성(neutral, positive, negative)을 적절히 분류하는 AI모델을 개발</p>
						<p class="conference-content-date">2023-09-22 00:00 ~ 2023-10-18 10:00</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image3.jpg" class="img-fluid" alt="대외활동3 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">화학안전 AI 그림 공모전</div>
						<p class="conference-content">화학안전을 키워드로 자유롭게 그림 생성</p>
						<p class="conference-content-date">2023-10-10 00:00 ~ 2023-10-27 18:00</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image4.png" class="img-fluid" alt="대외활동4 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">제6회 LG소셜캠퍼스 1분1초영화제</div>
						<p class="conference-content">습지, 강, 호수 등 물 생테계 보호…</p>
						<p class="conference-content-date">2023-08-16 00:00 ~ 2023-10-10 18:00</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image5.jpeg" class="img-fluid" alt="대외활동5 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">[HD 한국조선해양 AI center / 데이콘] HD 현대 AI Challenge</div>
						<p class="conference-content">항만 內 선박 대기 시간 예측을 위한 선박 항차 데이터 분석 AI 알고리즘 개발</p>
						<p class="conference-content-date">2023-09-25 10:00 ~ 2023-10-30 09:59</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image6.jpeg" class="img-fluid" alt="대외활동6 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">충청권 게임 인디유 공모전</div>
						<p class="conference-content">출시 이력 없는 신규 게임</p>
						<p class="conference-content-date">2023-10-25 00:00 ~ 2023-10-31 15:00</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image7.jpeg" class="img-fluid" alt="대외활동7 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">2023 국방 AI 경진대회</div>
						<p class="conference-content">국방 AI 기술 발전에 대한 국민적 관심 유도 및 장병들 …</p>
						<p class="conference-content-date">2023-09-19 00:00 ~ 2023-10-12 00:00</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image8.jpeg" class="img-fluid" alt="대외활동8 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">2023 서울지능형 사물인터넷(AIOT) 해커톤</div>
						<p class="conference-content">한강공원에서 활용 가능한 서비스 발굴</p>
						<p class="conference-content-date">2023-08-25 00:00 ~ 2023-10-02 18:00</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image9.png" class="img-fluid" alt="대외활동9 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">2023년 NABIS 균형발전 빅데이터 분석 공모전</div>
						<p class="conference-content">균형발전 빅데이터를 활용한 새로운 지방시대 도약</p>
						<p class="conference-content-date">2023-09-08 00:00 ~ 2023-09-27 23:59</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./conferenceImages/image10.jpeg" class="img-fluid" alt="대외활동10 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">2023 제2회 SW개발 공모전</div>
						<p class="conference-content">서울시 성동구와 관련한 다양한 문제(교통,환경,안전,보건,시설 등) 해결을 주제로 솔루션…</p>
						<p class="conference-content-date">2023-09-04 00:00 ~ 2023-10-03 23:59</p>
					</div>
				</div>
			</a>
		</div>
		<br><br><br>
		<div class ="Page navigation">
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-lg justify-content-center">
				  <li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
					  <span aria-hidden="true">&laquo;</span>
					</a>
				  </li>
				  <li class="page-item"><a class="page-link" href="#">1</a></li>
				  <li class="page-item"><a class="page-link" href="#">2</a></li>
				  <li class="page-item"><a class="page-link" href="#">3</a></li>
				  <li class="page-item"><a class="page-link" href="#">4</a></li>
				  <li class="page-item"><a class="page-link" href="#">5</a></li>
				  <li class="page-item"><a class="page-link" href="#">6</a></li>
				  <li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
					  <span aria-hidden="true">&raquo;</span>
					</a>
				  </li>
				</ul>
			  </nav>
		</div>
	</section>
</body>
</html>