<!-- footer -->
<!DOCTYPE html>
<html lang="ko">
<head class="footer">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>footer</title>

<!-- Bootsrcap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"></liknk>
</head>

<footer id="footer_background">
<div id="footer_gap1">&nbsp;</div>
<section class="container-fluid py-3">
	<div class="container">
		<div id="footer_gap2">&nbsp;</div>
		<!-- commit 소개 -->
		<div class="col-12">
			<div class="row justify-content-start">
				<div class="col-2">
					<img src="/Acorn_commit/src/main/webapp/assets/images/commit_LOGO.png" alt="footer icon" class="img-fluid">
				</div>
				<div class="col-7 align-items-center">
					<h6><p><b>&#x2B50 &#x1F48E 국내 최대 IT 커뮤니티 COMMIT! &#x1F48E &#x2B50</b></p></h6>
					<p><small>지금 회원가입을 하시고 선별된 IT 관련 정보와 함께 다양한 사람들과 이이야기를 나누어 보세요. &#x1F60A</small></p>   
					<p><small><b>COMMIT 통해 실력 + 성장 + 커리어도 COMMIT! &#x1F680&#x1F680</b></small></p>
				</div>
				<div id="footer_join" class="col-3 text-center">
					<input type="button" class="btn btn-primary btn-lg" value="회원가입 하기" />
					<br>
					<a href="#" class="btn btn-outline-primary mt-2"><i class="bi bi-facebook"></i></a>
					<a href="#" class="btn btn-outline-info mt-2"><i class="bi bi-discord"></i></a>
					<a href="#" class="btn btn-outline-danger mt-2"><i class="bi bi-instagram"></i></a>
				</div>
			</div>
		</div>
		<hr/>

		<!-- commit 카테고리 및 인기글 -->
		<div class="col-12">
			<div class="row justify-content-start">

				<!-- 로고 -->
				<div class="col-2">
					<img src="/Acorn_commit/src/main/webapp/assets/images/commit_LOGO.png" alt="LOGO" class="img-fluid">
				</div>

				<!-- 뉴스 카테고리 -->
				<div id="footer_news" class="col-3">
					<h5><b>뉴스</b></h5>
					<hr/>
					<ul class="list-unstyled">
						<li><a href="#" class="link-dark" style="text-decoration: none;">IT 이슈</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">국내 기업 뉴스</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">대외 활동</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">제휴 미디어</a></li>
					</ul>
				</div>

				<!-- 커뮤니티 카테고리 -->
				<div id="footer_community" class="col-3">
					<h5><b>커뮤니티</b></h5>
					<hr/>
					<ul class="list-unstyled">
						<li><a href="#" class="link-dark" style="text-decoration: none;">이슈/ 신문</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">자소서</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">면접</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">합격자 조언</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">구인/구직</a></li>
					</ul>
				</div>

				<!-- 실시간 인기글 -->
				<div id="footer_recommend" class="col-4">
					<h5><b>실시간 인기글</b></h5>
					<hr/>
					<ul class="list-unstyled">
						<li><a href="#" class="link-dark" style="text-decoration: none;">1 실시간 인기글</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">2 실시간 인기글</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">3 실시간 인기글</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">4 실시간 인기글</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">5 실시간 인기글</a></li>
						<li><a href="#" class="link-dark" style="text-decoration: none;">6 실시간 인기글</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- 운영진 정보 -->
		<div class="row mt-3">
			<div id="footer_info" class="col-md-12">
				<hr/>
				<p>
					<small>
						COMMIT 운영팀: help@commit.com&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;<a href="#" class="link-secondary" style="text-decoration: none;">이용약관</a>&nbsp;&nbsp;| 
						&nbsp;&nbsp;<a href="#" class="link-secondary" style="text-decoration: none;">개인정보처리방침</a>&nbsp;&nbsp; | 
						&nbsp;&nbsp;<a href="#" class="link-secondary" style="text-decoration: none;">청소년보호정책</a>&nbsp;&nbsp; | 
						&nbsp;&nbsp;<a href="#" class="link-secondary" style="text-decoration: none;">문의/신고</a>&nbsp;&nbsp; | 
						&nbsp;&nbsp;<a href="#" class="link-secondary" style="text-decoration: none;">게시글 중단 요청</a>
					</small>
				</p>
				<hr/>
		</div>
	</div>
</section>

<!-- Bootstcap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</footer>

