<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../webapp/assets/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
        
    </div>
    <section class="window">
        <div class="home">
            <div class="company">
                <h1 class="title">
                    당신 근처의
                    <br>
                    IT 종합 커뮤니티
                </h1>
                <p class="service">
                     IT의 모든 것
                    <br>
                     커밋에서 함께해요.
                </p>
                <br>
                <div class="btn">
                    <a class="btn-click" href="">
                        <div class="btn-click-menu">뉴스</div>
                    </a>
                    <a class="btn-click" href="">
                        <div class="btn-click-menu">커뮤니티</div>
                    </a>
                </div>
            </div>
            <div class="logo">
                <img class="jinsol" src="../assets/mainimage/jinsolzzang.png">
            </div>
        </div>
    </section>
    <div id="pagination">

    </div>
    <div class="footer">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
