<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="../../../webapp/assets/css/mypage/user_out.css">
</head>
<body>
    <div class="userout">
        <div class="top">
            <h1>회원 탈퇴</h1>
        </div>
        <h2>회원을 탈퇴하시겠습니까?</h2>
        <hr><br>
        <div class="mid">
            <form>
                <!-- 회원 탈퇴 확인용 체크박스 -->
                <input type="checkbox" id="confirm" name="confirm">
                <label for="confirmation">회원 탈퇴에 동의함</label><br><br><br>
        
                <!-- 회원 탈퇴 버튼 -->
                <input type="button" value="회원 탈퇴">
            </form>            
        </div>
    </div>
</body>
</html>