<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>국내 기업</title>

	
	<!-- css 참조-->
	<link href="../../assets/css/news/company.CSS" rel="stylesheet" />
    <link href="../../assets/css/header.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../assets/css/footer.css">
	 <!-- Bootstrap CSS -->
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	 

	<!-- issue.html 게시글 구현을 위한 부트 스트랩 참조-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
</head>
<body>
	<div id="header">


	</div>
	<!-- 상단 부분 가장 인기 많은 게시글 -->
	<div class="container ">

		<div class="container px-4 py-5">
			<h3 class="fw-bold">국내 기업</h3>
			<h2 class="pb-2 border-bottom"></h2>

			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
					<div class="d-flex flex-column align-items-start gap-2">
						<img src="./companyImages/image12.jpg" width="1200" height="500"  class="img-thumbnail" alt="뉴스1 썸네일"> <br>
						
						<h3 class="fw-bold">네오위즈, ‘P의 거짓’ 판매량 100만장 돌파 소식에 주가 ‘훈풍’</h3>
						<p class="text-muted">네오위즈가 신작 ‘P의 거짓’ 누적 판매량이 100만장을 돌파했다는 소식에 강세 마감했다.

							17일 네오위즈는 전거래일 대비 15.76% 오른 2만7550원에 장을 마쳤다. 이날 거래량은 252만주를 넘겼다. 전일 거래량은 17만주 가량이었다. 네오위즈홀딩스도 12.74% 오른 2만1950원에 마감했다.</p>
					</div>
			</a>
			  	</div>
		</div>
	</div>
    
	<!-- 하나의 화면 세션-->
	<section class="container mt-4">
		<div class="row my-5">
			<hr/>
			<!-- 인기 뉴스 -->
			<div class="col-md-6">
				<div class="table-responsive-md">
				  <table class="table">
					  <thead>
						<tr>
						  <th scope="col">인기뉴스</th>
						</tr>
					  </thead>
					  <tbody>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">1.</th>
							  <td class="col-10">과기부, 챗GPT에 의한 디지털 대응 '디지털 신질서 로드맵' 만든다</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">2.</th>
							  <td class="col-10">세계 최대 모바일 전시회 MWC23…한국 신기술 널리 알린다.</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">3.</th>
							  <td class="col-10">챗GPT, 韓 반도체 반사이익 될까...급선무는</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">4.</th>
							  <td class="col-10">"챗GPT 시작으로 AI 시대 본격화...반도체 수요 킬러 앱 될 것"</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">5.</th>
							  <td class="col-10">네이버 개발자 컨퍼런스 개막… 초대규모AI 하이퍼클로바X 7월 공개</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">6.</th>
							  <td class="col-10">리벨리온, '챗GPT 원천기술 지원' AI 반도체 '아톰' 국내최초 출시</td>
						  </tr>							  							  							  							  							  
					  </tbody>
				  </table>
				</div>
			</div>
			
			<!-- 최신 뉴스 -->
			<div class="col-md-6">
				<div class="table-responsive-md">
				  <table class="table">
					  <thead>
						<tr>
						  <th scope="col">최신뉴스</th>
						</tr>
					  </thead>
					  <tbody>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">1.</th>
							  <td class="col-10">​네이버, 신사옥 1784 찾은 사우디 장관과 AI·디지털트윈 협력 논의</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">2.</th>
							  <td class="col-10">당근, '모임' 데이터 알아본 동네 인기모임 트렌드</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">3.</th>
							  <td class="col-10">IBS, 양자나노과학 연구단, 세계최초 신개념 양자컴퓨터 초읽기</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">4.</th>
							  <td class="col-10">구글, 창립 25주년 맞아...검색부터 생성형 AI까지의 여정 되집어 본다</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">5.</th>
							  <td class="col-10">세계1위 가상자산거래소 바이낸스 흔들리나…경영진 줄사퇴</td>
						  </tr>
						  <tr style="cursor: pointer;" onclick="location.href='#'">
							  <th scope="row" class="col-2">6.</th>
							  <td class="col-10">웹툰협회·구글플레이, 글로벌 성공을 위한 중장기 협력안 발표</td>
						  </tr>							  							  							  							  							  
					  </tbody>
				  </table>
				</div>
			</div>
			<hr/>
		</div>
		<!-- 검색, 정렬바-->
		<div class="list-group">

			<div class="list-group">
				<div class="row justify-content-end">
					<!-- 검색 -->
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="검색">
					</div>
			
					<!-- 정렬: dropdown -->
					<div class="col-md-4">
						<select class="form-control">
							<option>최신순</option>
							<option>조회순</option>
							<option>인기순</option>
						</select>
					</div>
				</div>
			</div>

			<!-- 국내 기업 뉴스 목록-->
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image1.jpg" class="img-fluid" alt="뉴스1 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">유인촌의 문체부, 콘텐츠업계 지원확대…K-콘텐츠펀드 52% 증액</div>
						<p class="company-content">문화체육관광부는 13일 한국벤처투자와 함께 2024년 '케이(K)-콘텐츠 펀드' 관련업계 간담회를…</p>
						<p class="company-mediaCompany">머니투데이 </p>
					</div>
				</div>
			</a>
			
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image2.jpg" class="img-fluid" alt="뉴스2 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">위밋모빌리티-제주로지틱스, 제주도 당일 배송 '제주오늘' 선봬</div>
						<p class="company-content">모빌리티 테크기업 위밋모빌리티는 물류기업 제주로지스틱스는 협력 지난 11일부터 제주도 …</p>
						<p class="company-mediaCompany">뉴스1</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image3.jpg" class="img-fluid" alt="뉴스3 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">대전상의-PoSEP, 네트워크 기반 기술혁신 사업 설명회 열어</div>
						<p class="company-content">대전상공회의소와 과학기술연결플랫폼사회적협동조합(PoSEP)은 12일 상의회관 4층 회…</p>
						<p class="company-mediaCompany">뉴시스</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image4.jpg" class="img-fluid" alt="뉴스4 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">"스타트업 해외진출 지원"…중진공, 글로벌기업 인피니언과 맞손</div>
						<p class="company-content">중소벤처기업진흥공단(중진공)이 전력 시스템 및 사물인터넷(IoT) 분야 글로벌 기업인…</p>
						<p class="company-mediaCompany">머니투데이  </p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image5.jpg" class="img-fluid" alt="뉴스5 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">유한킴벌리, 김천공장 새 티슈 설비 가동…연산 20만t으로 확대</div>
						<p class="company-content">유한킴벌리가 김천공장에 새로운 첨단 티슈 설비를 준공하고 본격 가동에 들어간다고 13…</p>
						<p class="company-mediaCompany">연합뉴스</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image6.jpg" class="img-fluid" alt="뉴스6 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">KCC, 美에 車 보수용 컬러센터 설립…"글로벌 경쟁력 강화"</div>
						<p class="company-content">글로벌 응용소재 화학기업 KCC가 미국에 자동차보수용 리피니쉬 페인트(Refinish Paint) 컬러… </p>
						<p class="company-mediaCompany">아시아경제</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image7.png" class="img-fluid" alt="뉴스7 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">글로벌 콘텐츠 번역가 플랫폼 토투스, 누적 지급 수익 25억원 돌파</div>
						<p class="company-content">콘텐츠 번역가 플랫폼 ‘토투스’가 작업자들에 2023년 상반기 지급한 누적 수익이 25억원 …</p>
						<p class="company-mediaCompany">매일경제</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image8.jpg" class="img-fluid" alt="뉴스8 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">CJ대한통운 인도 자회사 CJ다슬, '타타모터스'와 물류 파트너십 '맞손'</div>
						<p class="company-content">CJ대한통운이 인도 자동차 제조사 타타모터스(TATA Motors)와의 물류 파트너십을 강화 … </p>
						<p class="company-mediaCompany">파이낸셜뉴스</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image9.jpg" class="img-fluid" alt="뉴스9 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">기후위기 해법 찾는 클라이밋 테크 스타트업 서밋, 19~21일 개최</div>
						<p class="company-content">임팩트 투자사 소풍벤처스가 오는 19~21일 제주에서 기후기술과 인공지능(AI for fightin… </p>
						<p class="company-mediaCompany">머니투데이</p>
					</div>
				</div>
			</a>
	
			<a href="../news_view.html" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-md-1">
						<img src="./companyImages/image10.jpg" class="img-fluid" alt="뉴스10 썸네일">
					</div>
					<div class="col-md-10">
						<div class="fw-bold">페이히어, 日 진출 첫발…'500글로벌' 프로그램 선정</div>
						<p class="company-content">핀테크 스타트업 페이히어(대표 박준기)는 미국 실리콘밸리 기반 벤처캐피털(VC) 500글로… </p>
						<p class="company-mediaCompany">아시아경제</p>
					</div>
				</div>
			</a>
		</div>
		<br><br><br>
		<div class ="Page navigation">
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-lg justify-content-center">
				  <li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
					  <span aria-hidden="true">&laquo;</span>
					</a>
				  </li>
				  <li class="page-item"><a class="page-link" href="#">1</a></li>
				  <li class="page-item"><a class="page-link" href="#">2</a></li>
				  <li class="page-item"><a class="page-link" href="#">3</a></li>
				  <li class="page-item"><a class="page-link" href="#">4</a></li>
				  <li class="page-item"><a class="page-link" href="#">5</a></li>
				  <li class="page-item"><a class="page-link" href="#">6</a></li>
				  <li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
					  <span aria-hidden="true">&raquo;</span>
					</a>
				  </li>
				</ul>
			  </nav>
		</div>
	</section>
	 <!-- footer -->
	 <div id="footer">
		
	 </div>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<!-- header JS -->
<script src="../../assets/js/header.js"></script>

 <!-- footer JS : html 태그 안에다가 넣어야지 실행이 됩니다!-->
<script src="../../assets/js/footer.js"></script>

</body>
</html>
