body {
    font-family: Arial, sans-serif;
}

.list-group {
    margin: 20px;
}

.list-group-item {
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
    color: #000; 
    text-decoration: none; 
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.row {
    display: flex;
    align-items: center;
}

.col-md-1 {
    flex: 0 0 10%;
    max-width: 10%;
    padding-right: 10px;
    min-width: 120px; 
    box-sizing: content-box; 
}

.col-md-10 {
    flex: 0 0 90%;
    max-width: 90%;
}

.img-fluid {
    width: 100%;
    height: auto; 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); 
}

.fw-bold {
    font-weight: bold;
    margin-bottom: 0; 
}

.company-content {
    font-size: 14px;
    margin-top: 0;
}

.company-mediaCompany {
    font-size: 13px;
}
