<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>job</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap"
		rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- Stylesheet -->
	<link href="../../assets/css/job.css" rel="stylesheet">
	<link href="../../assets/css/header.css" rel="stylesheet">
	<link href="../../assets/css/footer.css" rel="stylesheet">
	<link href="../../assets/css/pagination.css" rel="stylesheet">


	<!-- Customized Bootstrap Stylesheet -->
	<link href="../../assets/GrowMark-1.0.0/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
	<!-- Spinner Start -->
	<div id="spinner"
		class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
		<div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
	</div>
	<!-- Spinner End -->

	<!-- Header 삽입을 위해 빈 div 생성-->
	<div id="header">

	</div>

	<!-- RECRUIT 배경이미지 -->
	<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
		<div class="container text-center py-5">
			<h1 class="display-2 text-white mb-4 animated slideInDown">COMMUNNITY</h1>
		</div>
	</div>
	<!-- search -->
	<div id="search">

	</div>

	<section>
		<div class="main-container">


			<!--채용 공고 리스트 : jsp 이용해서 목록 리스트로 가져옴-->
			<div class="job-list">
				<ul class="list-group list-group-flush">
					<li class="list-group-item list-group-li">
						<div class="list-group-title"><a href=""><strong>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									글 제목</strong></a></div>
						<div class="list-group-company"><a href=""><strong>&nbsp;</strong></a></div>
						<div class="list-group-company"><a href=""><strong>작성자</strong></a></div>
						<div class="list-group-conditions"><a href=""><strong>작성일</strong></a></div>
					</li>

					<li class="list-group-item list-group-li">
						<div class="list-group-title"><a href="community_view.html">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								강화도 대표맛집 주연통삼겹입니다.&nbsp;&nbsp;&nbsp;
								<i class="bi bi-people-fill me-2"></i>100&nbsp;
								<i class="bi bi-heart-fill" style="color:red"></i>100&nbsp;
								<i class="bi bi-chat"></i>100
							</a></div>
						<div class="list-group-company"><a href="community_view.html"><strong>&nbsp;</strong></a></div>
						<div class="list-group-company"><a href="community_view.html">이현재</a></div>
						<div class="list-group-conditions"><a href="community_view.html">2023.10.23</a></div>
					</li>

					<li class="list-group-item list-group-li">
						<div class="list-group-title"><a href="community_view.html">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								강화도 대표맛집 주연통삼겹입니다.&nbsp;&nbsp;&nbsp;
								<i class="bi bi-people-fill me-2"></i>100&nbsp;
								<i class="bi bi-heart-fill" style="color:red"></i>100&nbsp;
								<i class="bi bi-chat"></i>100
							</a></div>
						<div class="list-group-company"><a href="community_view.html"><strong>&nbsp;</strong></a></div>
						<div class="list-group-company"><a href="community_view.html">이현재</a></div>
						<div class="list-group-conditions"><a href="community_view.html">2023.10.23</a></div>
					</li>

					<li class="list-group-item list-group-li">
						<div class="list-group-title"><a href="community_view.html">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								강화도 대표맛집 주연통삼겹입니다.&nbsp;&nbsp;&nbsp;
								<i class="bi bi-people-fill me-2"></i>100&nbsp;
								<i class="bi bi-heart-fill" style="color:red"></i>100&nbsp;
								<i class="bi bi-chat"></i>100
							</a></div>
						<div class="list-group-company"><a href="community_view.html"><strong>&nbsp;</strong></a></div>
						<div class="list-group-company"><a href="community_view.html">이현재</a></div>
						<div class="list-group-conditions"><a href="community_view.html">2023.10.23</a></div>
					</li>

					<li class="list-group-item list-group-li">
						<div class="list-group-title"><a href="community_view.html">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								강화도 대표맛집 주연통삼겹입니다.&nbsp;&nbsp;&nbsp;
								<i class="bi bi-people-fill me-2"></i>100&nbsp;
								<i class="bi bi-heart-fill" style="color:red"></i>100&nbsp;
								<i class="bi bi-chat"></i>100
							</a></div>
						<div class="list-group-company"><a href="community_view.html"><strong>&nbsp;</strong></a></div>
						<div class="list-group-company"><a href="community_view.html">이현재</a></div>
						<div class="list-group-conditions"><a href="community_view.html">2023.10.23</a></div>
					</li>

					<li class="list-group-item list-group-li">
						<div class="list-group-title"><a href="community_view.html">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								강화도 대표맛집 주연통삼겹입니다.&nbsp;&nbsp;&nbsp;
								<i class="bi bi-people-fill me-2"></i>100&nbsp;
								<i class="bi bi-heart-fill" style="color:red"></i>100&nbsp;
								<i class="bi bi-chat"></i>100
							</a></div>
						<div class="list-group-company"><a href="community_view.html"><strong>&nbsp;</strong></a></div>
						<div class="list-group-company"><a href="community_view.html">이현재</a></div>
						<div class="list-group-conditions"><a href="community_view.html">2023.10.23</a></div>
					</li>
				</ul>



	</section>

	</div>

	<!--글쓰기 버튼-->
	<a href="../community/community_post.html" class="d-flex justify-content-end">
		<button type="button" class="btn btn-primary" style="margin-right:350px;">글쓰기</button>
	</a><br><br>

	<!-- 페이징 -->
	<div id="pagination">

	</div><br><br>

	<!--footer-->
	<div id="footer">

	</div>

	</div>

	<!-- JavaScript Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../../assets/GrowMark-1.0.0/lib/wow/wow.min.js"></script>
	<script src="../../assets/GrowMark-1.0.0/lib/easing/easing.min.js"></script>
	<script src="../../assets/GrowMark-1.0.0/lib/waypoints/waypoints.min.js"></script>
	<script src="../../assets/GrowMark-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="../../assets/GrowMark-1.0.0/lib/lightbox/js/lightbox.min.js"></script>

	<!-- Template Javascript -->
	<script src="../../assets/GrowMark-1.0.0/js/main.js"></script>

</body>
<!-- search JS -->
<script src="../../assets/js/search.js"></script>

</html>
<!-- header, pagination js 연결-->
<script src="../../assets/js/header.js"></script>
<script src="../../assets/js/footer.js"></script>
<script src="../../assets/js/pagination.js"></script>