<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>커뮤니티 메인</title>
  <!--CSS-->
  <link href="../../assets/css/community_main.css" rel="stylesheet" type="text/css" />
  <link href="../../assets/css/header.css" rel="stylesheet"/>
  
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<body>

	<div id="header">
		
	</div>
  <div class="Items1">
    <div class="Item1">
      <div class="Item_main">
        <div class="Item_main_btn1">이직/신입</div>
        <a href="../community/community_list.html" class="Item_main_btn2">더보기</a>
      </div>
      <div class="item_detail">
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              최신글1
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </a>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              최신글2
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              최신글3
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              최신글4
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
      </div>
      <div class="text-box"></div>
    </div>

    <div class="Item2">
      <div class="Item_main">
        <div class="Item_main_btn1">합격자 조언</div>
        <a href="../community/community_list.html" class="Item_main_btn2">더보기</a>
      </div>
      <div class="item_detail">
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              조언1
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              조언2
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              조언3
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              조언4
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
      </div>
    </div>
  </div>

  <div class="Items2">
    <div class="Item3">
      <div class="Item_main">
        <div class="Item_main_btn1">면접</div>
        <a href="../community/community_list.html" class="Item_main_btn2">더보기</a>
      </div>
      <div class="item_detail">
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              면접 최신 제목1
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              면접 최신 제목2
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              면접 최신 제목3
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              면접 최신 제목4
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
      </div>
    </div>

    <div class="Item4">
      <div class="Item_main">
        <div class="Item_main_btn1">자소서</div>
        <a href="../community/community_list.html" class="Item_main_btn2">더보기</a>
      </div>
      <div class="item_detail">
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              자소서 최신 제목1
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              자소서 최신 제목2
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              자소서 최신 제목3
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
        <li><a href="www.naver.com" class="link" onmousedown="SEARCH.Main.gaEvent(www.naver.com)">
            <span class="txt_subject">
              자소서 최신 제목4
            </span>
          </a>
          <div class="util">
            <span class="reply">
              댓글 수
            </span>
          </div>
        </li>
      </div>
    </div>
  </div>


  <script src="script.js"></script>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>

<!-- header js 연결-->
<script src="../../assets/js/header.js"></script>