#interested_company {
            border: 1px solid #0D6EFD; /* 파란색 테두리 */
            background-color: white; /* 흰색 바탕 */
            color: #0D6EFD; /* 파랑색 글자 */
        }
#map {
    width: auto;
    height: 350px;
    position: relative;
}

#copy {
	border: none;
	background-color: white;
}