header{
    height: 100px;
}

.container {
    height:calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items : center;
}
.form-signin {
    max-width: 360px;
    padding: 1rem;
}
.form-signin a{
   text-decoration: none;
   color : gray;
}
.form-signup {
    max-width: 360px;
    padding: 1rem;
}
.form-idfind {
    max-width: 360px;
    padding: 1rem;
}
.form-pwfind {
    max-width: 360px;
    padding: 1rem;
}